@import "./_breakpoints.scss";

.player {
  @include md-up {
    // max-width: 75vw;
  }

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.choiceBarContainer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1500;
}

.choiceHistoryContainer {
  position: absolute;
  bottom: 150px;
  left: 0;
  right: 0;
  z-index: 1500;
}

.endingScreenContainer {
  position: absolute;
  bottom: 0px;
  left: 0;
  top: 0;
  height: 100%;
  right: 0;
  z-index: 1;
}
